@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Redzone";
  src: url("/fonts/VTFRedzone-Classic.ttf") format("truetype");
}

@font-face {
  font-family: "Nominee";
  src: url("/fonts/Nominee-Medium.ttf") format("truetype");
}
